.sidebar{
    position:fixed;
    bottom:0px;
    left:0px;
    top:57px;
    width:72px;
    background-color:white;
    z-index:2000;
    padding-top:5px;
}

.sidebar-link{
    background-color:white;
    height:74px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    cursor:pointer;
}

.sidebar-link:hover{
    background-color:rgb(240, 238, 238);
}
/* targets all images inside sidebar links only */
.sidebar-link img {
    height:24px;
    margin-bottom:4px;
}

/* targets all divs inside sidebar links*/
.sidebar-link div {
    font-size:10px;

}