0testlearningjs/index.html
0testlearningjs/learning.js
0testlearningjs/style.css
recreatenetflix/main.html
recreatenetflix/img/background.jpg
recreatenetflix/img/logo.png
recreatenetflix/img/tab-content-1.png
recreatenetflix/img/tab-content-2-1.png
recreatenetflix/img/tab-content-2-2.png
recreatenetflix/img/tab-content-2-3.png
recreatenetflix/styles/style.css
0testlearningjs/main.js
recreatenetflix/main.js
recreatenetflix/styles/footer.css
recreatenetflix/styles/general.css
recreatenetflix/styles/header.css
recreatenetflix/styles/tabs.css
JavaScript30-master/.gitignore
JavaScript30-master/PULL_REQUEST_TEMPLATE.md
JavaScript30-master/readme.md
JavaScript30-master/01 - JavaScript Drum Kit/background.jpg
JavaScript30-master/01 - JavaScript Drum Kit/index-FINISHED.html
JavaScript30-master/01 - JavaScript Drum Kit/index-START.html
JavaScript30-master/01 - JavaScript Drum Kit/style.css
JavaScript30-master/01 - JavaScript Drum Kit/sounds/boom.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/clap.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/hihat.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/kick.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/openhat.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/ride.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/snare.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/tink.wav
JavaScript30-master/01 - JavaScript Drum Kit/sounds/tom.wav
JavaScript30-master/02 - JS and CSS Clock/index-FINISHED.html
JavaScript30-master/02 - JS and CSS Clock/index-START.html
JavaScript30-master/03 - CSS Variables/index-FINISHED.html
JavaScript30-master/03 - CSS Variables/index-START.html
JavaScript30-master/04 - Array Cardio Day 1/index-FINISHED.html
JavaScript30-master/04 - Array Cardio Day 1/index-START.html
JavaScript30-master/05 - Flex Panel Gallery/index-FINISHED.html
JavaScript30-master/05 - Flex Panel Gallery/index-START.html
JavaScript30-master/06 - Type Ahead/index-FINISHED.html
JavaScript30-master/06 - Type Ahead/index-START.html
JavaScript30-master/06 - Type Ahead/style.css
JavaScript30-master/07 - Array Cardio Day 2/index-FINISHED.html
JavaScript30-master/07 - Array Cardio Day 2/index-START.html
JavaScript30-master/08 - Fun with HTML5 Canvas/index-FINISHED.html
JavaScript30-master/08 - Fun with HTML5 Canvas/index-START.html
JavaScript30-master/09 - Dev Tools Domination/index-FINISHED.html
JavaScript30-master/09 - Dev Tools Domination/index-START.html
JavaScript30-master/10 - Hold Shift and Check Checkboxes/index-FINISHED.html
JavaScript30-master/10 - Hold Shift and Check Checkboxes/index-START.html
JavaScript30-master/11 - Custom Video Player/652333414.mp4
JavaScript30-master/11 - Custom Video Player/index.html
JavaScript30-master/11 - Custom Video Player/scripts-FINISHED.js
JavaScript30-master/11 - Custom Video Player/scripts.js
JavaScript30-master/11 - Custom Video Player/style.css
JavaScript30-master/12 - Key Sequence Detection/index-FINISHED.html
JavaScript30-master/12 - Key Sequence Detection/index-START.html
JavaScript30-master/13 - Slide in on Scroll/index-FINISHED.html
JavaScript30-master/13 - Slide in on Scroll/index-START.html
JavaScript30-master/14 - JavaScript References VS Copying/index-FINISHED.html
JavaScript30-master/14 - JavaScript References VS Copying/index-START.html
JavaScript30-master/15 - LocalStorage/index-FINISHED.html
JavaScript30-master/15 - LocalStorage/index-START.html
JavaScript30-master/15 - LocalStorage/oh-la-la.jpeg
JavaScript30-master/15 - LocalStorage/style.css
JavaScript30-master/16 - Mouse Move Shadow/index-FINISHED.html
JavaScript30-master/16 - Mouse Move Shadow/index-START.html
JavaScript30-master/17 - Sort Without Articles/index-FINISHED.html
JavaScript30-master/17 - Sort Without Articles/index-START.html
JavaScript30-master/18 - Adding Up Times with Reduce/index-FINISHED.html
JavaScript30-master/18 - Adding Up Times with Reduce/index-START.html
JavaScript30-master/19 - Webcam Fun/index.html
JavaScript30-master/19 - Webcam Fun/package.json
JavaScript30-master/19 - Webcam Fun/scripts-FINISHED.js
JavaScript30-master/19 - Webcam Fun/scripts.js
JavaScript30-master/19 - Webcam Fun/snap.mp3
JavaScript30-master/19 - Webcam Fun/style.css
JavaScript30-master/20 - Speech Detection/index-FINISHED.html
JavaScript30-master/20 - Speech Detection/index-START.html
JavaScript30-master/20 - Speech Detection/package.json
JavaScript30-master/21 - Geolocation/index-FINISHED.html
JavaScript30-master/21 - Geolocation/index-START.html
JavaScript30-master/21 - Geolocation/package.json
JavaScript30-master/22 - Follow Along Link Highlighter/index-FINISHED.html
JavaScript30-master/22 - Follow Along Link Highlighter/index-START.html
JavaScript30-master/22 - Follow Along Link Highlighter/style.css
JavaScript30-master/23 - Speech Synthesis/index-FINISHED.html
JavaScript30-master/23 - Speech Synthesis/index-START.html
JavaScript30-master/23 - Speech Synthesis/style.css
JavaScript30-master/24 - Sticky Nav/index-FINISHED.html
JavaScript30-master/24 - Sticky Nav/index-START.html
JavaScript30-master/24 - Sticky Nav/style-FINISHED.css
JavaScript30-master/24 - Sticky Nav/style-START.css
JavaScript30-master/25 - Event Capture, Propagation, Bubbling and Once/index-FINISHED.html
JavaScript30-master/25 - Event Capture, Propagation, Bubbling and Once/index-START.html
JavaScript30-master/26 - Stripe Follow Along Nav/index-FINISHED.html
JavaScript30-master/26 - Stripe Follow Along Nav/index-START.html
JavaScript30-master/27 - Click and Drag/index-FINISHED.html
JavaScript30-master/27 - Click and Drag/index-START.html
JavaScript30-master/27 - Click and Drag/style.css
JavaScript30-master/28 - Video Speed Controller/index-FINISHED.html
JavaScript30-master/28 - Video Speed Controller/index-START.html
JavaScript30-master/28 - Video Speed Controller/style.css
JavaScript30-master/29 - Countdown Timer/index.html
JavaScript30-master/29 - Countdown Timer/scripts-FINISHED.js
JavaScript30-master/29 - Countdown Timer/scripts-START.js
JavaScript30-master/29 - Countdown Timer/style.css
JavaScript30-master/30 - Whack A Mole/dirt.svg
JavaScript30-master/30 - Whack A Mole/index-FINISHED.html
JavaScript30-master/30 - Whack A Mole/index-START.html
JavaScript30-master/30 - Whack A Mole/mole.svg
JavaScript30-master/30 - Whack A Mole/style.css
JavaScript30-master/02 - JS and CSS Clock/style.css
JavaScript30-master/03 - CSS Variables/style.css
JavaScript30-master/10 - Hold Shift and Check Checkboxes/test.html
JavaScript30-master/15 - LocalStorage/test.html
JavaScript30-master/23 - Speech Synthesis/test.html
0testlearning/kitten.jpg
0testlearning/test1.html
0testlearning/test2.html
0testlearning2/buttons.html
0testlearning2/text.html
0testlearning2/styles/buttons.css
0testlearning2/styles/text.css
.gitignore
recreateyoutube/flexbox.html
recreateyoutube/grid.html
recreateyoutube/position.html
recreateyoutube/youtube.html
recreateyoutube/channel-pictures/channel-1.jpg
recreateyoutube/channel-pictures/channel-2.jpg
recreateyoutube/channel-pictures/channel-3.jpg
recreateyoutube/channel-pictures/channel-4.jpg
recreateyoutube/channel-pictures/channel-5.jpg
recreateyoutube/channel-pictures/channel-6.jpg
recreateyoutube/channel-pictures/my-channel.jpeg
recreateyoutube/icons/explore.svg
recreateyoutube/icons/hamburger-menu.svg
recreateyoutube/icons/home.svg
recreateyoutube/icons/library.svg
recreateyoutube/icons/notifications.svg
recreateyoutube/icons/originals.svg
recreateyoutube/icons/search.svg
recreateyoutube/icons/subscriptions.svg
recreateyoutube/icons/upload.svg
recreateyoutube/icons/voice-search-icon.svg
recreateyoutube/icons/youtube-apps.svg
recreateyoutube/icons/youtube-logo.svg
recreateyoutube/icons/youtube-music.svg
recreateyoutube/styles/general.css
recreateyoutube/styles/header.css
recreateyoutube/styles/sidebar.css
recreateyoutube/styles/video.css
recreateyoutube/thumbnails/thumbnail-1.webp
recreateyoutube/thumbnails/thumbnail-2.webp
recreateyoutube/thumbnails/thumbnail-3.webp
recreateyoutube/thumbnails/thumbnail-4.webp
recreateyoutube/thumbnails/thumbnail-5.webp
recreateyoutube/thumbnails/thumbnail-6.webp
