.main-page-content{
    display:flex;
    justify-content:space-between;
    padding-left:350px;
    padding-right:350px;
    padding-top:40px;
}

.courses-section{
    background-color:white;
    border-radius:5px;
    width:530px;
    padding-left:20px;
    padding-right:20px;
    margin-right:70px;
}


.courses-dropdown-menu{
    font-weight:700;
    font-size:16px;
    margin-bottom:30px;
    margin-top:20px;    
}

.courses-semesters-header{
    display:flex;
    border-bottom: 1px solid rgb(231,230,230);
    padding-bottom:15px;
    font-size:16px;
}

.courses-semesters-header div{
    margin-right:27px;
    font-size:16px;
}

.course-grid{
    padding-top:20px;
    display:grid;
    column-gap:20px;
    row-gap:20px;
    grid-template-columns: 250px 250px;
    grid-template-rows:1fr 1fr;
}

.course-preview{
    display:grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns:250px;
    border: 1px solid rgb(230,230,230);
    border-radius:10px;
}

.thumbnail{
    width:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.course-info{
    padding-left:15px;
    padding-right:15px;
}

.course-name{
    padding-top:10px;
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom:5px;
}

.end-date{
    margin-top:0;
    color: rgb(105, 105, 105);
    font-size:14px;
}


.total-courses{
    margin-top:15px;
    margin-bottom:40px;
}

.total-courses a{
    padding-top:20px;
    margin-bottom:30px;
    font-size:19px;
    padding-bottom:50px;
    color:rgb(0,111,191);
    cursor:pointer;
    text-decoration:none;
}

.total-courses a:hover{
    text-decoration:underline;
}





