.main-page-content{
    display:flex;
    justify-content:space-between;
    padding-left:300px;
    padding-right:400px;
    padding-top:40px;
}

.courses-section{
    background-color:white;
    border-radius:5px;
    width:600px;
    padding-left:20px;
    padding-right:20px;
}


.courses-semesters-header{
    display:flex;
    border-bottom: 1px solid rgb(231,230,230);
}

.courses-semesters-header div{
    margin-right:10px;
    font-size:16px;
}

.course-grid{
    display:grid;
    column-gap:5px;
    row-gap:40px;
    grid-template-columns: 300px 300px;
    grid-template-rows:1fr 1fr 1fr;
}

.course-preview{
    display:grid;
    grid-template-rows: 70px 60px;
    grid-template-columns:200px;
}

.thumbnail{
    width:100%;
}


.news-section{
    background-color:white;
    width:400px;
    border-radius:5px;
}


